.personajes {
  height: 54px;
  width: 52px;
  margin: 0 auto;
  background: url('../images/sonic2.png');
  animation: correr .2s steps(4) infinite;
  position: absolute;
  left: 40%;
  bottom: 120px;
}

.fondo {
  margin: 0 auto;
  height: 498px;
  width: 1022px;
  background: url('../images/fondo.png');
  position: relative;
  animation: animarFondo 3s linear infinite;
}

@keyframes correr {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -213px;
  }
}

@keyframes animarFondo {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -1022px;
  }
}
